p {
    text-align: left;
    font-family: arial;
}
h1, h2, h3, h4 {
    text-align: left;
    font-family: arial;
}
body {
    line-height: 1.5;
    background-color: #2f2f2f;
    color: #dedede;
    font-family: arial;
}
.centertext {
    margin: auto;
    margin-left: 15%;
    text-align: left;
    width: 70%;
}
div {
    font-family: arial;
    line-height: 1.5;
    color: #dedede;
    /* margin-left: 10%; */
}
.site-title {
    font-weight: 450;
    /* font-weight: 300; */ 
    color: #dedede;
    /* font-style: sans-serif; */
    /* font-style:   font: 1.3rem Inconsolata, monospace; */
    font-style: monospace;
    font-family: monospace;
    background-color: #515151;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 10px;
    padding: 2px;
}
a:link {
    /* color: #396cc6; */
    /* color: #323a7e; */
    color: #3a7e;
    border-radius: 4px;
    background-color: #515151;
    text-decoration: none;
    padding: 2px;
}
a:visited {
    /* color: #660066; */
    color: #df20bc;
    border-radius: 4px;
    background-color: #515151;
    text-decoration: none;
    padding: 2px;
}
.center { 
    display: block;
    margin: auto;
    text-align: center;
}
.site-footer {
    color: #dedede;
    font-family: arial;
    text-align: center;
    background-color: #515151;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 10px;
    padding: 2px;
}
iframe { 
    display: block;
    /* border-style: solid; */
    border-style: hidden;
    width: 60%;
    max-width: 475px;
    height: 450px;
    /* border-color: #264d65; */
    border-radius: 10px;
    margin: auto;
    /* border-width: 4px;
    border-bottom-width: 0px; */
    /* border-bottom-width: -20px;
    margin-bottom: -40px;
    padding-bottom: -40px; */
    overflow: hidden;
}